html {
  background-image:linear-gradient(#06c, #09f)!important;
  height:100%!important;
}
.block{
  color:white!important;
  font-weight: bold!important;
  font-size: 28px!important;
}

#file_, #linkydoo{
 display: none; 
}

.editor{
  min-width: 280px!important;
  max-width: 300px!important;
}

.editor table{
  background-color:#000!important;
}

textarea::-webkit-scrollbar-track
{
  background-color: #CDCDCD;
}

textarea::-webkit-scrollbar
{
  width: 10px;
  background-color: #444444;
}

textarea::-webkit-scrollbar-thumb
{
  background-color: #444444;
}


.exemple, .exemple option {
  color:black!important;
  padding: 4px!important;
}

:not(.pen-output) body {
  font-family:sans-serif!important;
  margin:0!important;
}

:not(.pen-output) .weby {
  border-radius:4px!important;
  margin:2vh 2vw!important;
  overflow:hidden!important;
}

:not(.pen-output) header {
  background-color:#222!important;
  box-sizing:border-box!important;
  color:#fff!important;
  font-family:Lato, sans-serif!important;
  height: 10vh!important;
  padding:1vh 1vw!important;
  width:96vw!important;
}

:not(.pen-output) .avatar {
  border-radius:2px!important;
  float:right!important;
  height:8vh!important;
  width:8vh!important;
}

:not(.pen-output) h1.block {
  display:inline-block!important;
  /*font-size:1rem!important;*/
  font-weight:normal!important;
  margin:2vh 0!important;
}

:not(.pen-output) footer {
  background-color:#333!important;
  box-sizing:border-box!important;
  color:#888!important;
  font-size:.75em!important;
  height:5vh!important;
  padding:1vh 1vw!important;
  text-align:center!important;
  width:96vw!important;
}

:not(.pen-output) .pen {
  box-shadow: 0 8px 12px rgba(0,0,0,0.45)!important;
  display:flex!important;
  height:81vh!important;
  width:96vw!important;
}

:not(.pen-output) .editor {
  display:flex!important;
  flex:1 1 25%!important;
  flex-direction:column!important;
  justify-content:space-between!important;
}

:not(.pen-output) textarea {
/*  background-color:#222;
  border:solid 2px #444;*/
  box-sizing:border-box!important;
  color:#222!important;
  display:block!important;
  flex:1 1!important;
  resize:none!important;
  transition:all .3s ease-in-out!important;
  width:100%!important;
  background: white!important;
  color: black!important;
}

:not(.pen-output) textarea:focus {
  flex:1 1 80%!important;
}

.pen-output {
  background-color:#fff;
  /*border:solid 2px #444;*/
  flex:1 1 75%;
  font-family:initial;
}
.weby{
  
}
button{
  cursor:pointer;
}