html {
  background-image:linear-gradient(#06c, #09f);
  height:100%;
}

:not(.pen-output) body {
  font-family:sans-serif;
  margin:0;
}

:not(.pen-output) .weby {
  border-radius:4px;
  margin:2vh 2vw;
  overflow:hidden;
}

:not(.pen-output) header {
  background-color:#000;
  box-sizing:border-box;
  color:#fff;
  font-family:Lato, sans-serif;
  height: 10vh;
  padding:1vh 1vw;
  width:96vw;
}

:not(.pen-output) .avatar {
  border-radius:2px;
  float:right;
  height:8vh;
  width:8vh;
}

:not(.pen-output) h1.block {
  display:inline-block;
  font-size:1rem;
  font-weight:normal;
  margin:2vh 0;
}

:not(.pen-output) footer {
  background-color:#333;
  box-sizing:border-box;
  color:#888;
  font-size:.75em;
  height:5vh;
  padding:1vh 1vw;
  text-align:center;
  width:96vw;
}

:not(.pen-output) .pen {
  display:flex;
  height:81vh;
  width:96vw;
}

:not(.pen-output) .editor {
  display:flex;
  flex:1 1 25%;
  flex-direction:column;
  justify-content:space-between;
}

:not(.pen-output) textarea {
/*  background-color:#222;
  border:solid 2px #444;*/
  box-sizing:border-box;
  color:#222;
  display:block;
  flex:1 1;
  resize:none;
  transition:all .5s ease-in-out;
  width:100%;
}

:not(.pen-output) textarea:focus {
  flex:1 1 80%;
}

.pen-output {
  background-color:#fff;
  /*border:solid 2px #444;*/
  flex:1 1 75%;
  font-family:initial;
}